{% extends 'main/layout.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<h1>О нас</h1>
<p>Добро пожаловать на наш веб-сайт!</p>

<h2>Онлайн-расчет кредита</h2>
<p>Мы предоставляем удобный инструмент для онлайн-расчета кредита. <br>
    Просто воспользуйтесь нашим калькулятором, чтобы
    рассчитать условия вашего кредита.</p>

<h2>Отзывы</h2>
<p>Мы ценим ваше мнение! Оставьте отзыв о нашем сервисе, чтобы мы могли улучшить наши услуги.</p>

<h2>Наша команда</h2>
<p>Проект создан командой из трех членов из группы SIS-2130:</p>

<p>Диан Саранжиров</p> <br>
<p>Данил Шарипов</p> <br>
<p>Данияр Джумабаев</p>


<p>Этот проект был разработан для сессии по дисциплине Python. IITU 2023</p>
</div>
{% endblock %}
