{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Голда в кредит{% endblock %}</title>

    <!-- Подключение стилей Bootstrap и пользовательских стилей -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="icon" href="{% static 'main/img/coin.ico' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <div id="logo">
            <i class="fa-solid fa-coins"></i>
            <h1>Голда в кредит</h1><br>
        </div>

        <nav>
            <!-- Навигационные ссылки -->
            <ul>
                <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Главная</a></li>
                <li><a href="{% url 'about' %}"><i class="fas fa-fingerprint"></i> Про нас</a></li>
                <li><a href="{% url 'news_home' %}"><i class="fas fa-newspaper"></i> Отзывы</a></li>
                <li><a href="{% url 'api-news-list' %}"><i class="fas fa-phone"></i> REST API GET</a></li>
                <li><a href="{% url 'api-create-news' %}"><i class="fas fa-phone"></i> REST API POST</a></li>
                <!-- Кнопка для создания нового отзыва -->
                <a href="{% url 'create' %}">
                <button class="btn btn-info" style="margin-bottom: -40px">
                    <i class="fas fa-plus-circle"></i> Написать отзыв
                </button>
                </a>
            </ul>


        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
        <br>
    </main>
    <footer>
        Текст
    </footer>
</body>
</html>
