{% extends 'main/layout.html' %}

{% block title %}Создание отзыва{% endblock%}

{% block content %}
    <div class="features">
        <h1>Создание отзыва</h1>
        <form method="post">
            {% csrf_token %}
            <input placeholder="Отзыв" class="form-control"><br>
            <input placeholder="Отзыв" class="form-control"><br>
            <textarea placeholder="Текст отзыва" class="form-control"></textarea>
            <input type="date" class="form-control"><br>
            <input type="time" class="form-control"><br>
            <button class="btn btn-success" type="submit">Опубликовать отзыв</button>
        </form>
    </div>
{% endblock %}