body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Стили для кнопок */
#alertd, #alertw, #alerts {
    margin-left: 500px;
    margin-right: 500px;
}

/* Стили для панели навигации */
header {
    background-color: #3b3939;
    color: #fff;
    display: block;
    padding: 10px;
    text-align: center;
}
#logo {
    display: flex;
    justify-content: center;
}
nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff0777; /* Цвет при наведении */
}

header ul {
    list-style: none
}

header ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
}

header ul li:hover, header ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

ul a {
    color: #fff;
    text-decoration: none;
}

ul a:hover {
    color: #ccc;
}

/* Стили для основного контента */

main {
    margin-top: 50px;
    padding: 20px;
}

/* Стили для нижней панели */
footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #3b3939;
        color: #fff;
        padding: 10px 0;
        text-align: center;
    }

/* Стили для навигационных элементов */

ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.fa-house:before {
    content: "\f015"; /* Unicode символ для иконки дома */
    margin-right: 5px;
}